/* Makes background of jumbotron gradient-colored */
.jumbotron {
    background-image: linear-gradient(to bottom right, #1D243B, 20%, #255b69, 80%, #f8d962);
    color:  #FFF48F;
    font-family: 'Staatliches', cursive;
}

.navbar {
    background-color: #1D243B;
}

/* This makes the font-awesome things in the logo size responsively */
.title-logo {
    font-size: calc(1.525rem + 6vw)
}

@media (min-width: 1200px) {
    .title {
      font-size: 4rem;
    }
  }


.nav-bar-link {
    color: #FFF48F;
}

.nav-bar-link:hover {
    color: #f8d962;
}