.jumbotron, .navbar {
    background-image: linear-gradient(to bottom right, #17456B, #419FB7 30%, white 90%);
    color:  #F5F6EE;
    font-family: 'Staatliches', cursive;
}


/* This makes the font-awesome things in the logo size responsively */
.title-logo {
    font-size: calc(1.525rem + 6vw)
}

@media (min-width: 1200px) {
    .title {
      font-size: 4rem;
    }
  }