/* Makes background of jumbotron gradient-colored */
.jumbotron {
    background-image: linear-gradient(to bottom right, #1D243B, 20%, #255b69, 80%, #f8d962);
    color:  #FFF48F;
    font-family: 'Staatliches', cursive;
}

.navbar {
    background-color: #1D243B;
}

/* This makes the font-awesome things in the logo behave responsively */
.title-logo {
    font-size: calc(1.525rem + 6vw)
}

@media (min-width: 1200px) {
    .title {
      font-size: 4rem;
    }
  }

/* Custom nav-bar text color */
.nav-bar-link {
    color: #FFF48F;
}

/* Darkens the links on hover to be a little more intuitive what's clickable/activ */
.nav-bar-link:hover {
    color: #f8d962;
}


/* Made this to style the page a little bit. It essentially makes a skewed box behind everything else at the top. */
.diagonal-box-slant-left {
    background-color: #1d243B;
    transform: skewY(-10deg);
    position: absolute;
    top: 100px;
    width: 100%;
    height: 450px;
    color: white;
    z-index: -1;
}


/* These were found on stack overflow to make varying image heights appear as the same heigh in the carousel */
/* Without this, the images were different heights and the whole page would shift when it rotated */
/* https://stackoverflow.com/questions/13391566/twitter-bootstrap-carousel-different-height-images-cause-bouncing-arrows */
.carousel-item{
    width: 100%; /*width you want*/
    height: 500px; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* For making the first letter of a paragraph bigger. Put just the letter in a span with this class. */
.subhead::first-letter {
    font-size: 200%;
  }